/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
   background-color: black;
 }

 a {
   color:white;
 }

 a:hover{
   font-weight:bold;
 }

 .active, .collapsible:hover {
   color: #00ffef;
   text-decoration: none;
 }

 .btn-default {
   background-color:black !important;
   color: white !important;
 }

 .btn-default:active {
   background-color:black !important;
   color: #00ffef !important;
 }

 .collapsible {
   background-color: black;
   color: white;
   cursor: pointer;
   width: 100%;
   border: none;
   text-align: left;
   outline: none;
 }

 .content {
   padding: 0 18px;
   display: none;
   color: white;
   overflow: hidden;
   background-color: black;
 }

 .copy {
   background-color: black;
   color: white;
 }

 .headerStyle {
   background-color: black;
   color: white;
   font-family: monospace;
 }

.tables {
  background-color:black;
  color:white;
}

.tableRows:hover{
  background-color:black;
  color:#00ffef;
}
